<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>


<body>
	<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{newjob.heading}">New Bid</span></h1>
	</header>

	
	<form id="newCountyForm" method="post" th:action="@{/newbid/} + ${id}" th:object="${bidForm}">
	
		<label for="bid" th:text="#{newbid.bidamount}" ></label>
			                                         <!-- The span is connected to the countyName field through th:errors. It appears if there was a binding problem and  -->
			                                         <!--  displays the Size.countyName message from messages.properties --> 
		<input type="text" maxlength="9" th:field="*{bidAmount}"/><span th:if="${#fields.hasErrors('bidAmount')}" th:errors="*{bidAmount}" >Error</span> 
		
		<br /><br />

		<input type="submit" th:value="#{newbid.addbid}"/>
	</form>
	<!-- This message is shown if the ${duplicate} variable was created. -->
	<h3 class="error" th:if="${duplicate}" th:text="#{newjob.duplicate}">Error</h3>
	
		<h3 class="error" th:if="${yourbid}" th:text="#{newbid.yourbid}">Error</h3>
		
			<h3 class="error" th:if="${notactive}" th:text="#{newbid.notactive}">Error</h3>
			
			<h3 class="error" th:if="${tohigh}" th:text="#{newbid.tohigh}">Error</h3>
	<footer th:insert="fragments.html :: footer"></footer>
</body>
</html>

